.message {
  padding: 1rem;
  border: 1px solid var(--accent);
  margin: 0 auto;
}

.success {
  color: var(--white);
  background-color: rgba(0, 255, 0, 0.1);
  border-color: var(--tertiary);
  box-shadow: var(--black) 1px 2px 2px;
}

.error {
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  border-color: var(--white);
  box-shadow: var(--black) 1px 2px 2px;
}

.warning {
  color: var(--white);
  background-color: rgba(255, 230, 0, 0.1);
  border-color: var(--white);
  box-shadow: var(--black) 1px 2px 2px;
}
