h1 {
  font-size: 4rem;
  color: var(--black);
}

h2 {
  padding-top: 1rem;
  font-size: 3rem;
}

.profileAttribute,
.productDescriptionText {
  font-size: 1.5rem;
}

.productDescriptionText {
  border: solid var(--white) 2px;
  padding: 1rem;
}

.hero-title {
  font-size: 4rem;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }

  .searchTitle {
    font-size: 1.9rem;
  }
}
