.hero-image {
  margin: 0 auto;
  max-width: 85%;
}

.navbar-toggler {
  border: solid green 2px;
}

#productThumbnail {
  flex-direction: column;
  max-width: 100vw;
  padding: 1rem 2rem;
}

@media (max-width: 400px) {
  footer .navbar-brand {
    padding: 0 0 4rem 0;
  }

  .fa-magnifying-glass {
    display: none;
  }

  .hero-image {
    margin: 0 auto;
    max-width: 350px;
  }

  #productThumbnail {
    flex-direction: column;
    max-width: 100vw;
    padding: 1rem 2rem;
  }
}
