main {
  align-items: center;
  //border: solid red 1px;
  display: flex;
  flex-direction: column;
  margin: 2rem 6rem;
  margin: auto;
}

i {
  font-size: 2rem;
}

.main-home {
  flex-direction: row;
}

@media (max-width: 400px) {
  main {
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
}
