.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 0 6rem;
  max-width: 100vw;
  padding: 0;
}

.nav-link {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
  text-shadow: var(--black) 1px 1px;
}

#active {
  color: var(--tertiary);
}

@media (max-width: 400px) {
  .navbar {
    margin: 0 1rem;
  }

  .nav-item {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .navbar-collapse {
    display: flex;
    padding: 2rem 0 3rem 2rem;
    justify-items: center;
  }
}
